.content {
  height: 100%;
  width: 100%;
  text-align: center;
  h1,
  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  button {
    color: $black;
    background: rgb(134, 209, 209);
    border-radius: 1rem;
    margin: 2.5rem;
    padding: 0.5rem;
    font-family: $font-1;
    font-size: 2rem;

    text-transform: uppercase;
    box-shadow: 0px 8px 15px $shadow-1;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background: $color-2;
    box-shadow: 0px 15px 20px $shadow-2;
    color: #fff;
    transform: translateY(-7px);
  }

  .humaaans {
    width: auto;
  }
}
