@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Roboto&display=swap");

$font-1: "Roboto", cursive;
$font-2: "Dosis", cursive;

$color-1: #eefafa;
$color-2: #7fdace;
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(46, 229, 157, 0.4);

$black: #000;

* {
  margin: 0;
  padding: 0;
  background: $color-1;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

h1 {
  font-family: $font-1;
}

h3 {
  font-family: $font-2;
}
